---
import Hero from "@/components/hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <Hero />
  <section class="mx-auto max-w-screen-md py-32 text-center">
    <h1 class="mb-5 flex flex-col">
      <span class="text-5xl font-bold">Bienvenidos a 3Peso:</span>
      <span class="text-2xl">¡Donde Lo Inesperado se Hace Realidad!</span>
    </h1>

    <p>
      Sumérgete en un mundo de experimentos sociales, desafíos atrevidos y
      confesiones auténticas. Aquí no solo verás, vivirás cada momento."
    </p>

    <a class="" href="https://www.youtube.com/@3Peso/videos" target="_blank">
      Mira el Último Episodio
    </a>
  </section>

  <script>
    function Main() {
      const $body = document.querySelector("body");
      const $hero = document.querySelector(".zdv-hero");
      const $video = $hero?.querySelector<HTMLDivElement>(
        '[data-zitdevs-id="video-content"]',
      );
      const $loading = $hero?.querySelector('[data-zitdevs-id="loading"]');
      const $header = document.querySelector<HTMLDivElement>(
        '[data-zitdevs-id="header"]',
      );

      if (!$body || !$hero || !$video || !$loading || !$header) {
        return;
      }

      window.scrollTo(0, 0);
      $body.classList.add("bg-black");
      $hero.classList.add("loading-hero");

      setTimeout(() => {
        const $loadingStep1 = $hero.querySelector<HTMLDivElement>(
          '[data-zitdevs-id="loading-step-1"]',
        );

        const $loadingStep2 = $hero.querySelector<HTMLDivElement>(
          '[data-zitdevs-id="loading-step-2"]',
        );

        if (!$loadingStep1 || !$loadingStep2) {
          return;
        }

        $loadingStep1.style.opacity = "0";
        $loadingStep1.classList.add("hidden");
        $loadingStep2.classList.remove("hidden");

        setTimeout(() => {
          $body.classList.remove("bg-black");
          $hero.classList.remove("loading-hero");
          $loading.remove();

          $video.style.opacity = "0";
          $video.classList.remove("hidden");
          $video.classList.add("flex");

          $header.style.opacity = "0";
          $header.classList.remove("hidden");
          setTimeout(() => {
            $video.style.opacity = "1";

            $header.style.opacity = "1";
          }, 100);
        }, 2000);
      }, 3000);
    }

    Main();
  </script>
</BaseLayout>
