---
import Logo from "./vectors/logo.astro";
---

<section
  class="h-[90vh] w-full bg-gradient-to-b from-white to-[#232323] to-65% md:bg-gradient-to-r md:from-white md:to-[#232323] md:to-50%"
>
  <div class="flex h-full flex-col justify-center gap-16 md:flex-row md:gap-0">
    <div class="m-4 flex items-center justify-center md:w-1/2">
      <iframe
        class="aspect-video h-auto w-full max-w-[720px] xl:max-w-[720px]"
        src="https://www.youtube.com/embed/RD4WHNbQQ1g?si=j-Wx7sh2Aq1wO8rs"
        title="3 Peso YouTube Video"
        aria-label="YouTube video showcasing 3 Peso content"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        loading="lazy"
      >
      </iframe>
    </div>
    <div class="flex items-center justify-center px-4 md:w-1/2">
      <div class="max-w-lg text-center md:text-left">
        <h1 class="mb-5 flex flex-col items-center md:items-start">
          <Logo class="h-auto w-3/4" />
          <p class="mt-3 font-bold">Digital Creator</p>
        </h1>
        <p class="mb-3 text-balance">
          Somos un grupo colectivo encargado de llevar la chercha a otro nivel,
          de manera que usted, mi querida persona, disfrute este pequeño
          pedacito de nosotros.
        </p>
        <p class="mb-3 text-balance">@3peso | @3pesotv</p>
        <a
          class="mb-2 inline-block rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
          href="https://www.youtube.com/@3Peso/videos"
          target="_blank"
        >
          Mira el Último Episodio
        </a>
      </div>
    </div>
  </div>
</section>
