---

---

<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
</head>

<div class="relative h-screen w-full md:h-[75vh] lg:h-screen">
  <img
    src="/casting-background.jpg"
    alt="Descripción de la imagen"
    class="absolute inset-0 h-full w-full object-cover opacity-20"
  />

  <div
    class="relative z-10 flex h-full flex-col items-center justify-center text-center"
  >
    <h1
      class="m-4 max-w-80 border-2 p-4 font-cursive text-3xl font-bold text-white md:text-4xl lg:text-5xl"
    >
      ¿Quieres estar en un video?
    </h1>
    <p class="mt-4 max-w-md text-base text-white md:text-xl">
      ¡Asegúrate de suscribirte a nuestro boletín de casting para no perder
      ninguna oportunidad!
    </p>
    <button
      class="mt-6 rounded-full bg-white px-6 py-3 text-lg font-medium text-black shadow-lg transition hover:bg-gray-100"
    >
      Casting
    </button>
  </div>

  <div class="absolute inset-0 bg-black bg-opacity-50"></div>
</div>
