---
import { ArrowRight } from "lucide-react";
---

<section class="flex items-center justify-center bg-dark py-16 text-white">
  <div class="max-w-lg">
    <h2
      class="mb-6 text-4xl font-extrabold md:text-6xl lg:text-7xl xl:text-7xl"
    >
      Ponte en <span class="text-gray-300">contacto</span> con nosotros
      <img src="/verified.png" class="inline h-auto w-10" alt="Verified" />
    </h2>
    <p class="mb-8 text-lg font-medium text-gray-400">
      Nos encargamos de entretener, inspirar y llevar un mensaje claro y
      directo.
    </p>
    <a
      href="#contact"
      class="group relative isolation-auto z-10 mx-auto flex max-w-32 items-center justify-center gap-2 overflow-hidden rounded-2xl border-2 border-white bg-dark px-4 py-2 text-white shadow-xl backdrop-blur-md before:absolute before:-left-full before:-z-10 before:aspect-square before:w-full before:rounded-full before:bg-white before:transition-all before:duration-300 hover:text-dark before:hover:left-0 before:hover:w-full before:hover:scale-150 before:hover:duration-300 lg:font-semibold"
    >
      ¡Dale!
      <ArrowRight
        className="size-5 justify-end text-gray-50 duration-100 ease-linear group-hover:text-dark"
      />
    </a>
  </div>
</section>
