---
import { ContactForm } from "./islands/ContactForm";
---

<section id="contact" class="w-full bg-[#f9f9f9] py-10">
  <div class="relative w-full overflow-hidden p-10 text-center">
    <div class="relative z-10">
      <h2
        class="py-14 text-4xl font-black text-gray-900 sm:text-5xl md:text-7xl lg:text-8xl"
      >
        Contacto
      </h2>
    </div>

    <img
      class="absolute inset-1/2 z-0 h-[70%] max-w-[70%] -translate-x-1/2 -translate-y-1/2 opacity-25"
      src="/social.webp"
      alt="Logos of popular social media platforms such as Instagram, Facebook, and TikTok."
    />
  </div>

  <div class="mx-auto min-h-[200px] max-w-screen-sm px-8 text-dark">
    <ContactForm client:idle />
  </div>
</section>
