---
import HeaderWrapper from "./islands/HeaderWrapper";
import Logo from "./vectors/logo.astro";
---

<HeaderWrapper client:only>
  <div class="container mx-auto flex items-center justify-between">
    <div class="py-2">
      <Logo />
    </div>

    <nav class="hidden text-white md:block">
      <ul class="flex space-x-4">
        <li>
          <a href="/work">Lo que hacemos</a>
        </li>
      </ul>
    </nav>
  </div>
</HeaderWrapper>
