---
import Logo from "./vectors/logo.astro";
---

<header
  class="absolute w-full border-b border-white bg-white/15 py-1 backdrop-blur-md"
>
  <div class="container mx-auto flex items-center justify-between">
    <div class="py-2">
      <Logo />
    </div>

    <nav class="hidden md:block">
      <ul class="flex space-x-4">
        <li>
          <a href="/work">Lo que hacemos</a>
        </li>

        <li>
          <a href="/castings"> Participa </a>
        </li>

        <li>
          <a href="/our-team">Nosotros</a>
        </li>

        <li>
          <a href="/careers">Trabaja con nosotros</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
