---
import HeaderWrapper from "./islands/HeaderWrapper";
import Logo from "./vectors/logo.astro";
---

<HeaderWrapper client:only>
  <div class="container mx-auto flex items-center justify-between">
    <a href="#top" class="py-2">
      <Logo />
    </a>

    <nav class="hidden text-white md:block">
      <ul class="flex space-x-4">
        <li>
          <a href="#about">Nosotros</a>
        </li>
        <li>
          <a href="#casting">Casting</a>
        </li>
        <li>
          <a href="#contact">Contáctenos</a>
        </li>
      </ul>
    </nav>
  </div>
</HeaderWrapper>
