---

---

<section
  class="relative flex h-[95vh] shrink-0 flex-col items-center justify-center text-white"
>
  <video
    class="absolute -z-10 h-full w-full object-cover"
    muted
    autoplay
    loop
    disablepictureinpicture
    playsinline
  >
    <source src="/bg-video.mp4" type="video/mp4" />
  </video>
  <h1>Hero Section</h1>
</section>
